*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-color{
    background-color: #f7bd94;
}

.navbar{
    display: flex;
    padding-top: 10px;
}

ul{
    margin-left: 200px;
    display: flex;
}

ul li{
    margin-left: 50px;
    list-style-type: none;
}

ul li a{
    text-decoration: none;
    color: black;
}

.red{
    color: red;
}

.logo{
    border: 3px dashed black;
}

.div-body{
    display: flex;
    justify-content: space-between;
}

.div-text{
    padding-top: 200px;
    font-weight: 600;
}



.div-text h1{
    font-size: 30px;
    line-height: 40px;
    text-transform: capitalize;
}

.div-text button{
    background-color: red;
    border: none;
    padding: 5px 40px;
    border-radius: 50px;
    color: #fff;
}

.div-image img{
    padding-top: 40px;
}


.lekan{
    margin: 20px;
    background-color: red;
    width: 200px;
    height: 200px;
    text-align: center;
    position: relative;
}

.vincent{
    margin: 100px;
    background-color: blue;
    width: 200px;
    height: 200px;
    text-align: center;
    position: absolute;
}

.ayo{
    margin: 20px;
    background-color: green;
    width: 200px;
    height: 200px;
    text-align: center;
    border-radius: 50%;
    margin-left: 200px;
}

.color{
    display: flex;
}

.bg-image{
    background: linear-gradient(#fbe32980, #fbe32980), url(./image/salah.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

.children p:first-child{
    color: blue;
}
.children p:last-child{
    color: rgb(30, 233, 23);
}
.children p:nth-child(odd){
    content: red;
}

.blog p::first-letter{
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.blog1 p::first-line{
    font-family: 'Times New Roman', Times, serif;
}

#section{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
#section div{
    margin: 20px;
}

.move{
    background: green;
    width: 150px;
    height: 150px;
    animation-name: move;
    animation-duration: .10s;
    animation-iteration-count: infinite;
}

@keyframes move{
    0%{
        background: green;
    }
    25%{
        background: red;
    }
    50%{
        background: blue;
    }
    75%{
        background: yellow;
    }
    100%{
        background: aqua;
    }
}